/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    --hue: 99;
    --first-color: hsl(var(--hue), 100%, 34%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: #fff;
    --border-color: hsl(var(--hue), 8%, 80%);
    --container-color: hsl(var(--hue), 60%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Hind', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body,
input, 
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    height: 100vh;
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}
/*=============== LAYOUT ===============*/

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 7rem 0 1rem;
}


.section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: .25rem;
    line-height: 140%;
}

.section__subtitle{
    text-align: center;
    margin-bottom: .4rem;
}

.page__title-area{
    min-height: 450px;
    background-image: url(../Img/pexels1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.page__title-area::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 3, 32, .66);
    z-index: -1;
}

.page__title-wrapper{
    padding-top: 12.5rem;
}

.page__title{
    font-size: var(--biggest-font-size);
    color: #fff;
    margin-bottom: .5rem;
}

.breadstew__list{
    display: flex;
    column-gap: 1rem;
    margin-left: .4rem;
}

.breadstew__link{
    color: #ffff;
    font-size: var(--h3-font-size);
}
/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__light{
    color: var(--first-color);
    letter-spacing: 10px;
}

.logo__dark{
    display: none;
   color: var(--first-color);
}

.nav__link,
.nav__toggle{
    color: #fff;
    font-weight: var(--font-semibold);
}

.nav__list{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.nav__toggle{
    font-size: 4rem;
    margin-top: .75rem;
    cursor: pointer;
    display: none;
}

.nav__close{
    display: none;

}


/* Active link */

.active-link{
    position: relative;
}

.active-link::before{
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--body-color);
    border-radius: 50%;
}


/* Change background header */

.scroll-header{
    background-color: var(--container-color);
    box-shadow: 0 1px 4px hsl(var(--hue), 4%, 15%, .1);
}

.scroll-header .logo__dark{
    display: block;
}

.scroll-header .logo__light{
    display: none;
}

.scroll-header .nav__link{
    color: var(--title-color);
}

.scroll-header .active-link::before{
    background-color: var(--title-color);
}

.scroll-header .nav__toggle{
    color: var(--title-color);
}

/*=============== HOME ===============*/
.home{
    position: relative;
    min-height: 968px;
    background: url(../Img/pexels1.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    padding: 18rem 0 2rem;
    z-index: -2;
}

.home__data{
    max-width: 650px;
}

.home__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: #ffb352;
    margin-bottom: 1rem;
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: #fff;
    line-height: 109%;
    margin-bottom: 1.5rem;
}

.home__description{
    font-size: var(--h3-font-size);
    color: hsl(var(--hue), 8%, 75%);
    padding-right: 2.8rem;
    margin-bottom: 2.5rem;
}
.home::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 3, 32, .66);
    z-index: -1;
}


.about__courses{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-tooltip);
    grid-template-columns: repeat(4, 1fr);
}

.about__course-item{
    position: relative;
    height: 100px;
    padding: 23px 50px; 
    padding-right: 1.8rem;
    z-index: -1;
}

.about__course-item::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}


.about__course-item:nth-child(1){
    background: url(../Img/slider-nav-4.jpg);
    background-position: center;
}

.about__course-item:nth-child(1)::after{
    background: rgba(15, 110, 101, 0.8);
}
.about__course-item:nth-child(2){
    background: url(../Img/slider-nav-3.jpg);
    background-position: center;
}

.about__course-item:nth-child(2)::after{
    background: rgba(14, 24, 102, 0.564);
}
.about__course-item:nth-child(3){
    background: url(../Img/slider-nav-2.jpg);
    background-position: center;
}

.about__course-item:nth-child(3)::after{
    background: rgba(99, 82, 13, 0.8);
}
.about__course-item:nth-child(4){
    background: url(../Img/slider-nav-1.jpg);
    background-position: center;
}

.about__course-item:nth-child(4)::after{
    background: rgba(170, 73, 17, 0.8);
}

.about__course-total{
    display: inline-block;
    color: #fff;
    opacity: .8;
}

.about__course-title{
    color: #fff;
    font-size: var(--h3-font-size);
}




/*=============== BUTTONS ===============*/

.button{
    display: inline-block;
    color: #fff;
    padding: .8rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    background-color: var(--first-color);
    
}

.button--link{
    color: var(--first-color);
    border: 2px solid var(--first-color);
    background-color: transparent;
    transition: .4s;
}

.button--link:hover{
    background-color: var(--first-color);
    color: #fff;
}


/*=============== ABOUT ===============*/
.about__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
}

.about__group{
    justify-self: flex-end;
    position: relative;
}
.about__thumb{
    margin-left: 6.25rem;
}
.about__thumb-img{
    width: 350px;
}

.about__banner{
    margin-top: -13rem;
}

.about__banner-img{
    width: 240px;
    border-radius: .4rem;
}

.about__students{
    margin-top: -5rem;
    margin-left: 16.8rem;
}

.about__student-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--container-color);
}

.about__student-img + .about__student-img{
    margin-left: -.75rem;
}

.about__student-details{
    margin-top: .25rem;
    font-size: var(--small-font-size);
}

.about__student-details span{
    font-weight: var(--font-semibold);
    color: var(--title-color);
}

.about__title{
    margin-bottom: 1rem;
    text-align: left;
}

.about__description{
    margin-bottom: 2rem;
    padding-right: 2rem;
}

.about__details{
    display: grid;
    row-gap: .5rem;
    margin-bottom: 2.5rem;
}

.about__details-description{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.about__details-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
/*=============== ASSOCIATION ===============*/
.association__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.association__item{
    background-color: var(--container-color);
    padding: 1.875rem;
    text-align: center;
    border-radius: .4rem;
}



.association__img-box{
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.association__img-box img{
    height: 300px;
    width: 300px;
    transform: scale(1);
    vertical-align: middle;
    transition: .4s;
}
.association__img-box:hover img{
    transform: scale(1.1);
}

.association__title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.association__social{
    display: flex;
    justify-content: center;
    column-gap: .6rem;
    margin-top: .7rem;
}

.association__social-link{
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border: 2px solid var(--border-color);
    color: var(--title-color);
    border-radius: 50%;
    transition: .4s;
}

.association__social-link:hover{
    background-color: var(--first-color);
    color: #fff;
    border: none;
}

.association__social-link i{
    font-weight: var(--font-semibold);
}
/*=============== BRANDS ===============*/
.brand__title{
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: 3rem;
}

.brand__container{
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin-bottom: 3rem;
}

.brand__container img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   font-size: 1rem;
}

.brand__button{
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.brand__button-icon{
    font-size: 1.25rem;
    transition: .4s;
}

.brand__button:hover .brand__button-icon{
    transform: translateX(.25rem);
}

/*=============== NEWSLETTER ===============*/
.newsletters__container{
    grid-template-columns:repeat(3, 1fr);
    gap: 1.8rem;
}

.newsletter__item{
    background-color: var(--container-color);
    position: relative;
    border-radius: 0 0 .4rem .4rem;
}

.newsletter__box{
    border-radius: .4rem .4rem 0 0;
    overflow: hidden;
}

.newsletter__img{
    transform: scale(1);
    vertical-align: middle;
    transition: .4s;
}

.newsletter__box:hover .newsletter__img{
    transform: scale(1.1);

}

.newsletter__tag{
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.newsletter__meta{
    padding: 1.5rem 1.875rem;
}


.newsletter__title{
    margin-top: 20px;
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    line-height: 1.2;
    cursor: pointer;
    transition: .4s;
}

.newsletter__title:hover{
    color: var(--first-color);
}

.newsletter__user{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.newsletter__user-img{
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.newsletter__user-title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    padding-top: .125rem;
    cursor: pointer;
    transition: .4s;
}

.newsletter__user-title:hover{
    color: var(--first-color);
}

.newsletter__more{
    display: flex;
    justify-content: space-between;
    padding: .6rem 1.875rem .75rem;
    padding-top: 1rem;
    border-top: 1px solid #f0f0f5;
}

.newsletter__button{
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.newsletter__button-icon{
    font-size: 1.25rem;
    transition: .4s;

}

.newsletter__button:hover .newsletter__button-icon{
    transform: translateX(.25rem);
}


/*=============== COURSES PAGE ===============*/




/*=============== CONTACT PAGE ===============*/
.contact__container{
    grid-template-columns: 8fr 4fr;
    column-gap: 6rem;
}

.contact__title{
    text-align: left;
}

.contact__subtitle{
    margin-bottom: 2.5rem;
}

.contact__info{
    display: grid;
    row-gap: 2.25rem;
}

.contact__item:not(:last-child){
    display: flex;
    column-gap: 1.75rem;
}

.contact__item-title{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.contact__item__subtitle{
    display: block;
}
.contact__item:last-child{
    padding-left: 3.25rem;
}

.contact__social-title{
    margin-bottom: .75rem;
}

.contact__icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.contact__form-group{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.8rem;
}

.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border-radius: .25rem;
    background-color: var(--container-color);
    padding: 1.5rem;
}

.contact__form-area{
    height: 11rem;
}

.contact-form-area textarea{
    resize: none;
    outline: none;
    border: none;
}


.contact__social{
    column-gap: .75rem;
    display: flex;
}

.contact__social-link{
    display: inline-block;
    background-color: var(--container-color);
    width: 44px;
    height: 44px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    border: 3px solid;
    transition: .4s;
}

.contact__social-link:nth-child(2){
    background-color: #56adcd;
    border-color: #56adcd;
}

.contact__social-link:nth-child(1){
    background-color: #b58617;
    border-color: #b58617;
}
.contact__social-link:nth-child(3){
    background-color: #89158d;
    border-color: #89158d;
}

.contact__social-link:hover{
    background-color: #000;
    border-color: #fff;
   
}
/*=============== FOOTER ===============*/
.footer{
    margin-top: 6rem;
    background-color: rgb(10, 113, 55);
}


.footer__container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
}

.footer__logo{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-bold);
    letter-spacing: 3px;
    margin-bottom: 1.25rem;
}

.footer__description{
    font-size: var(--h2-font-size);
    color: hsl(var(--hue), 8%, 75%);
    margin-bottom: 2.3rem;
}

.footer__social{
    column-gap: .75rem;
    display: flex;
}

.footer__social-link{
    display: inline-block;
    background-color: var(--container-color);
    width: 44px;
    height: 44px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    border: 3px solid;
    transition: .4s;
}

.footer__social-link:nth-child(2){
    background-color: #56adcd;
    border-color: #56adcd;
}

.footer__social-link:nth-child(1){
    background-color: #b58617;
    border-color: #b58617;
}
.footer__social-link:nth-child(3){
    background-color: #89158d;
    border-color: #89158d;
}

.footer__social-link:hover{
    background-color: transparent;
   
}

.footer__title{
    font-size: var(--h3-font-size);
    color: #fff;
    margin-bottom: 1rem;
}

.footer__links{
    display: grid;
    row-gap: .35rem;
}

.footer__link{
    font-size: var(--normal-font-size);
    color: hsl(var(--hue), 8%, 75%);
    transition: .3s;
}

.footer__link:hover{
    color: #fff;
}

.footer__copy{
    display: block;
    text-align: center;
    color: #fff;
    font-size: var(--normal-font-size);
    margin-top: 6rem;
}


/*=============== SUBSCRIBE FORM  ===============*/
.wrapper{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width:1206px) {
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about__course-item{
        padding: 16px 18px;
        height: 80px;
    }

    .about__data{
        margin-top: 5rem;
    }

   

}

@media screen and (max-width:1024px) {
    .container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .subscribe-form{
        max-width: 800px;
    }

    .home{
        min-height: 868px;
    }

    .home__data{
        max-width: 550px;

    }

    .about__container{
        column-gap: 3rem;
        grid-template-columns: 1fr;
    }

    .about__description{
        padding-right: 0;

    }

    .about__group{
        justify-self: center;
    }

    .about__banner{
        margin-top: -110px;
    }

    .about__thumb-img{
        width: 270px;
    }

    .about__banner-img{
        width: 180px;
    }

    .about__students{
        margin-top: -80px;
        margin-left: 220px;
    }

    .association__container,
    .newsletters__container{
        grid-template-columns: repeat(2, 340px);
        justify-content: center;
    }

    .newsletter__meta{
        padding: 1rem 1.25rem;
    }

    .newsletter__more{
        padding: .5rem 1.25rem;
    }

    .about__data{
        margin-top: 5rem;
    }

}

/* For medium devices */
@media screen and (max-width:767px) {
    .nav{
        height: var(--header-height);
    }

    .button__header{
        display: none;
    }

    .nav__toggle{
        display: block;
    }

    .nav__menu{
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        z-index: var(--z-fixed);
        border-radius: 0 0 .4rem .4rem;
        transition: .4s;
    }

    .nav__list{
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
    }

    .nav__close{
        display: block;
        font-size: 1.8rem;
        position: absolute;
        top: .5rem;
        right: .7rem;
        cursor: pointer;
    }

    .nav__link{
        color: var(--title-color);
    }

    .active-link::before{
        background-color: var(--title-color);
    }

    .show-menu{
        top: 0;
    }

    .home{
        min-height: 700px;
        padding-top: 14rem;
    }

    .about__data{
        margin-top: 6rem;
    }

    .about__courses{
        display: relative;
    }

    
    .about__course-item h3{
        font-size: 15px;
    }

    .association__container,
    .newsletters__container{
        grid-template-columns: 320px;
    }

    .association__item{
        padding: 1.25rem;
    }

    .brand__container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.5rem;
    }

    .footer__container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-items: start;
    }

    .footer__copy{
        margin-top: 4.5rem;
    }
}

@media screen and (max-width:576px) {
    .home__description{
        padding-right: 0;
    }

    .about__thumb-img{
        width: 240px;
    }

    .about__banner-img{
        width: 160px;
    }

    .about__students{
        margin-top: 20px;
        margin-left: 0;
    }

    .brand__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:414px) {
    

    .about__course-item{
        display: none;
    }

    .footer{
        width: 100%;
      
    }

    .home{
        min-height: 500px;
        background-position: center;
    }
}

/* For small devices */
@media screen and (max-width:350px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home{
        min-height: 668px;  
    }

    .home__subtitle{
        font-size: var(--normal-font-size);
    }

    .home__title{
        font-size: var(--h1-font-size);
    }

    .home__description{
        font-size: var(--normal-font-size);
    }

    .about__banner-img{
        width: 140px;
    }

    .association__container,
    .newsletters__container{
        grid-template-columns: repeat(1, 1fr);
    }

    .about__course-item{
        display: none;
    }

   
    .footer{
        width: 100%
    }

    .footer__container{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        justify-items: start;
    }

    .footer__copy{
        margin-top: 4.5rem;
    }

    
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --green: #008000;
    --red: tomato;
    --orange: orange;
    --black: #333;
    --white: #fff;
    --bg-color: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    --border: .1rem solid #999; 
}


/* .container{
    max-width: 1200px;
    margin: 0 auto;

} */

section{
    padding: 2rem;
}



@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn .fa-times{
        transform: rotate(180deg);
    }



    .display-category-table{
        overflow-x: scroll;
    }

    .display-category-table table{
        width: 70rem;
    }
}


.display-category-table h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--red);
    text-transform: uppercase;
    text-align: center;
}

.display-category-table table{
    width: 100%;
    text-align: center;
}

.display-category-table table thead th{
    padding: 1.5rem;
    font-size: 2rem;
    background-color: var(--black);
    color: var(--white);
}

.display-category-table table td{
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}



